<?xml version="1.0"?>

<robot name="X500" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="namespace" value="$(arg namespace)" />
  <xacro:property name="enable_velodyne" value="$(arg enable_velodyne)"/>
  <xacro:property name="enable_magnet" value="$(arg enable_magnet)"/>
  <xacro:property name="enable_rotating_velodyne" value="$(arg enable_rotating_velodyne)" />
  <xacro:property name="enable_tilt_rotors" value="$(arg enable_tilt_rotors)"/>
  <xacro:property name="enable_simple_manipulator" value="$(arg enable_simple_manipulator)"/>
  <xacro:property name="fdm_port_in" value="$(arg fdm_port_in)"/>
  <xacro:property name="fdm_port_out" value="$(arg fdm_port_out)"/>
  <xacro:property name="max_range" value="$(arg max_range)"/>
  <xacro:property name="laser_count" value="$(arg laser_count)"/>

  <!-- Collision bitmask - By default collides with everything -->
  <xacro:arg name="collision_bitmask" default="-1" />
  <xacro:property name="collision_bitmask" value="$(arg collision_bitmask)" />
  
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/$(arg namespace)</robotNamespace>
      <robotParam>/$(arg namespace)/robot_description </robotParam>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>
  
  <xacro:property name="front_facing_camera">
    <origin xyz="0.2 0 0.05" rpy="0 0 0"/>
  </xacro:property>

  <xacro:property name="down_facing_camera">
    <origin xyz="0 0.2 -0.3" rpy="-1.570796 1.570796 0"/>
  </xacro:property>

  <xacro:property name="camera_mass" value="1e-5"/>
  <xacro:property name="camera_size" value="0.05" />
  <xacro:property name="camera_inertia">
    <inertia
    ixx="1e-12"
    iyy="1e-12"
    izz="1e-12"
    ixy="0.0" ixz="0.0" iyz="0.0" />
  </xacro:property>

  <!-- Instantiate X500 mechanics "mechanics" -->

  <!-- Setup regular quadrotor -->
  <xacro:unless value="${enable_tilt_rotors}">
    <xacro:include filename="$(find tcc_docker)/models/X500/urdf/X500_base.urdf.xacro" />
  </xacro:unless>

  <xacro:include filename="$(find rotors_description)/urdf/component_snippets.xacro" />
  
  <!-- Ardupilot plugin 
    NOTE: thrust_multiplier 
      Value is tuned in order for mavros/setpoint_raw/attitude/thrust to reflect real-world behavior. 
  -->
  <!--<xacro:ardupilot
    imu_topic="/${namespace}/imu"
    control_topic="/${namespace}/gazebo/command/motor_speed"
    imu_sensor_name="${namespace}::imu_link::imu_sensor"
    rotor_0_joint="${namespace}::${namespace}/rotor_0_joint"
    rotor_1_joint="${namespace}::${namespace}/rotor_1_joint"
    rotor_2_joint="${namespace}::${namespace}/rotor_2_joint"
    rotor_3_joint="${namespace}::${namespace}/rotor_3_joint"
    thrust_multiplier="667"
    fdm_port_in="${fdm_port_in}"
    fdm_port_out="${fdm_port_out}">
  </xacro:ardupilot>
  -->

  <!-- Realistic odometry sensor with noise -->
  <xacro:odometry_plugin_macro
    namespace="${namespace}"
    odometry_sensor_suffix=""
    parent_link="${namespace}/base_link"
    pose_topic="pose"
    pose_with_covariance_topic="pose_with_covariance"
    position_topic="position"
    transform_topic="transform"
    odometry_topic="odometry"
    parent_frame_id="world"
    child_frame_id="${namespace}/base_link"
    mass_odometry_sensor="0.01"
    measurement_divisor="20"
    measurement_delay="0"
    unknown_delay="0.0"
    noise_normal_position="0.0 0.0 0.0"
    noise_normal_quaternion="0.0 0.0 0.0"
    noise_normal_linear_velocity="0.0 0.0 0.0"
    noise_normal_angular_velocity="0.0 0.0 0.0"
    noise_uniform_position="0.0 0.0 0.0"
    noise_uniform_quaternion="0.0 0.0 0.0"
    noise_uniform_linear_velocity="0.0 0.0 0.0"
    noise_uniform_angular_velocity="0.0 0.0 0.0"
    enable_odometry_map="false"
    odometry_map=""
    image_scale="">
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" /> <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:odometry_plugin_macro>

  <!-- Front facing camera -->
  <xacro:cam
    namespace="$(arg namespace)"
    camera_link="${camera_size}"
    camera_mass="${camera_mass}"
    parent="${namespace}/base_link">
    <xacro:insert_block name="front_facing_camera"/>    
    <xacro:insert_block name="camera_inertia"/>
  </xacro:cam>

</robot>
