<launch>

  <arg name="name"                  default="kopterworx"/>
  <arg name="id"                    default="1"/>

  <arg name="parm_file"             default="$(find cbr_simulation)/config/ardupilot_params/$(arg name).params"/>

  <arg name="enable_console"        default="false"/>
  <arg name="enable_map"            default="false"/>
  <arg name="streamrate"            default="50"/> 
  <arg name="frame"                 default="gazebo-iris"/>
  <arg name="node_start_delay"      default="1.0" />
  <arg name="additional_arguments"  default=""/>
  <arg name="binary"                default="ArduCopter"/>
  <arg name="debug"                 default="false"/>

  <node name="sim_vehicle_startup" pkg="ardupilot_gazebo" type="run_copter.sh" 
    args="$(arg name) $(arg id) $(arg parm_file) $(arg enable_console) $(arg enable_map) $(arg streamrate) $(arg frame) $(arg binary) $(arg debug) $(arg additional_arguments)" output="screen" 
    launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'"/>

</launch>
