<launch>

  <arg name="name"                default="kopterworx"/>
  <arg name="tf_prefix"           default="$(arg name)"/>
  <arg name="x"                   default="0.0"/>
  <arg name="y"                   default="0.0"/>
  <arg name="z"                   default="0.5"/>
  <arg name="roll"                default="0"/>
  <arg name="pitch"               default="0"/> 
  <arg name="yaw"                 default="0"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="model"               default="$(find cbr_simulation)/models/cbr_simulation/urdf/cbr_simulation.urdf.xacro" />
  <arg name="world"               default="worlds/empty.world"/>
  <arg name="fdm_port_in"         default="9002"/>
  <arg name="fdm_port_out"        default="9003"/>
  <arg name="use_sim_time"        default="true"/>
  <arg name="gui"                 default="true"/>
  <arg name="remap_gazebo_tf"     default="false"/>
  
  <!-- Velodyne properties - requires velodyne_simulator -->
  <arg name="enable_velodyne"           default="false" />
  <arg name="enable_rotating_velodyne"  default="false"/>
  <arg name="laser_count"               default="16"/>
  <arg name="max_range"                 default="50"/>

  <!-- Magnet properties - requires storm_gazebo_ros_magnet-->
  <arg name="enable_magnet"   default="false" />

  <!-- Gimbal properties -->
  <arg name="enable_gimbal"   default="false" />

  <!-- Collision bitmask - by default collide with everything -->
  <arg name="collision_bitmask" default="-1" />

  <!-- Actuators -->
  <arg name="enable_tilt_rotors"        default="false" />
  <arg name="enable_simple_manipulator" default="false" />

  <!-- Spawn the world -->
  <include file="$(find ardupilot_gazebo)/launch/empty_world.launch">
    <arg name="paused"          value="false" />
    <arg name="use_sim_time"    value="$(arg use_sim_time)"/>
    <arg name="verbose"         value="true" />
    <arg name="world_name"      value="$(arg world)" />
    <arg name="gui"             value="$(arg gui)"/>
    <arg name="remap_gazebo_tf" value="$(arg remap_gazebo_tf)"/>
    <arg name="debug"           value="false" />
  </include>

  <include file="$(find cbr_simulation)/launch/spawn_mav.launch">
    <arg name="name"                value="$(arg name)"/>
    <arg name="tf_prefix"           value="$(arg tf_prefix)"/>
    <arg name="x"                   value="$(arg x)"/>
    <arg name="y"                   value="$(arg y)"/>
    <arg name="z"                   value="$(arg z)"/>
    <arg name="roll"                value="$(arg roll)"/>
    <arg name="pitch"               value="$(arg pitch)"/>
    <arg name="yaw"                 value="$(arg yaw)"/>
    <arg name="enable_ground_truth" value="$(arg enable_ground_truth)"/>
    <arg name="model"               value="$(arg model)" />
    <arg name="world"               value="$(arg world)"/>
    <arg name="fdm_port_in"         value="$(arg fdm_port_in)"/>
    <arg name="fdm_port_out"        value="$(arg fdm_port_out)"/>
    <arg name="use_sim_time"        value="$(arg use_sim_time)"/>
    <arg name="gui"                 value="$(arg gui)"/>
    <arg name="remap_gazebo_tf"     value="$(arg remap_gazebo_tf)"/>

    <!-- Velodyne properties - requires velodyne_simulator -->
    <arg name="enable_velodyne"           value="$(arg enable_velodyne)" />
    <arg name="enable_rotating_velodyne"  value="$(arg enable_rotating_velodyne)"/>
    <arg name="laser_count"               value="$(arg laser_count)"/>
    <arg name="max_range"                 value="$(arg max_range)"/>

    <!-- Magnet properties - requires storm_gazebo_ros_magnet-->
    <arg name="enable_magnet"   value="$(arg enable_magnet)" />

    <!-- Gimbal properties -->
    <arg name="enable_gimbal"   value="$(arg enable_gimbal)" />

    <!-- Collision bitmask - by value collide with everything -->
    <arg name="collision_bitmask" value="$(arg collision_bitmask)" />

    <!-- Actuators -->
    <arg name="enable_tilt_rotors"        default="$(arg enable_tilt_rotors)" />
    <arg name="enable_simple_manipulator" default="$(arg enable_simple_manipulator)" />

  </include>

</launch>
